<div style="color: blue;" class="flex justify-content-between">
<h2>To do App</h2>
</div>
<p-table  [value]="todos"  [paginator]="true" [rows]=5>
 

    
    <ng-template pTemplate="header">
        <tr>
            
        </tr>
        <tr>
            <th pSorttableColumn="todo">Tasks </th>
            <th>What time is it?</th>
            <th>Edit or delete action</th>
            <p-button label="Add task" (click)="showAddModal()"></p-button>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-todo>
        <tr>
            <td>{{ todo.todo }}</td>
            <td>{{ todo.whattimeisit }}</td>
            <td>
<p-dropdown placeholder="select actions" [options]="actions" [(ngModel)]="selectedAction[todo.id]" (onChange)="onActionChange($event.value, todo)">
    <ng-template let-item pTemplate="selectedItem">
      <div class="p-flex p-align-center">
        <i [ngClass]="item.icon" class="p-mr-2"></i>
        <span *ngIf="selectedAction !== 'select'">{{ item.label }}</span>
        <span *ngIf="selectedAction === 'select'">Select action</span>
      </div>
    </ng-template>
  </p-dropdown>

  
            </td>
        </tr>
    </ng-template>
</p-table>

<app-add-edit-todo
 [displayAddEditModal]="displayAddEditModal"
 [selectedTodo]="selectedTodo"
 (clickClose)="closeAddModal()"
 (clickAddEdit)="saveorUpdateTodoList($event)"
></app-add-edit-todo>

<p-confirmDialog header="Delete confirmation" ></p-confirmDialog>
<p-toast position="bottom-right" ></p-toast>


